@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

/* google font */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

a,
a:hover {
    text-decoration: none;
}

img {
    vertical-align: middle;
}

ul,
ol {
    list-style: none;
}

body {
    overflow: hidden;
    background-image: url(../images/banner.jpg);
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}


/* common css ends */

#wraper {
    background: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100vw;
}


/* header part start */

header {
    position: fixed;
    width: 100%;
    top: 5vh;
    padding: 0 3vw;
}

nav {
    display: flex;
    justify-content: center;
}


/* header part ends */


/* main section start */

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

main h1 {
    font-size: 56px;
    margin-bottom: 15px;
}

main h2 {
    font-size: 26px;
}


/* design for counter */

#getting-started {
    display: inline-block;
    margin: 30px 0;
    padding: 20px;
    font-size: 32px;
    font-weight: 700;
    border-left: 5px solid rgba(255, 255, 255, 0.8);
    border-right: 5px solid rgba(255, 255, 255, 0.8);
    background-color: rgba(255, 255, 255, 0.1)
}

main p {
    font-size: 20px;
    margin-bottom: 15px;
}

form {
    display: flex;
    justify-content: center;
}

form input {
    border: 0;
    outline: 0;
    padding: 15px;
    width: 40vw;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

form button {
    border: 0;
    outline: 0;
    padding: 15px;
    color: #ffffff;
    background-color: rgb(22, 123, 225);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

form button:focus {
    outline: 0;
}


/* main section ends */


/* footer part start */

footer {
    position: fixed;
    width: 100%;
    bottom: 3vh;
    padding: 0 3vw;
}

footer .flex-box {
    height: 100px;
    display: flex;
    align-items: center;
}

.social-links {
    flex-basis: 50%;
}

.social-links ul {
    display: flex;
}

.social-links ul li {
    margin-right: 30px;
}

.social-links ul li a {
    color: #ffffff;
    font-size: 25px;
    transition: all linear 0.3s;
}

.copy-right {
    flex-basis: 50%;
    text-align: right;
}


/* footer part ends */

@media (max-width: 1199.98px) {
    main h1 {
        font-size: 42px;
    }
    main h2 {
        font-size: 20px;
    }
}

@media (max-width: 991.98px) {
    header nav a img {
        display: block;
        margin: 0 auto;
    }
    main h1 {
        font-size: 36px;
    }
    main h2 {
        font-size: 18px;
    }
}

@media (max-width: 767.98px) {
    main h1 {
        font-size: 32px;
    }
    main h2 {
        font-size: 16px;
    }
    #getting-started {
        margin: 10px 0;
        padding: 5px;
    }
    .social-links ul li {
        margin-right: 20px;
    }
}

@media (max-width: 575.98px) {
    main h1 {
        font-size: 26px;
    }
    main h2 {
        font-size: 14px;
    }
    #getting-started {
        margin: 20px 0;
        padding: 10px;
        font-size: 20px;
    }
    footer .flex-box {
        height: 75px;
        flex-direction: column;
    }
    .copy-right {
        text-align: center;
    }
}